
<h2>Your Orders</h2>

  <% @orders.each do |order| %>
    <p>Name: <%= order.name %></p>
    <p>Email: <%= order.email %></p>
    <p>Your orders: </p>
    <ul>
      <% order.line_items.each do |item| %>
        <li> <%= line_item.item.name %></li>
      <% end %>
    </ul>
  <% end%>
