<h1>Your order</h1>
<div class="ccard">
    <button class="proceed"><svg class="sendicon" width="24" height="24" viewBox="0 0 24 24">
  <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
</svg></button>
   <img src="https://seeklogo.com/images/V/VISA-logo-62D5B26FE1-seeklogo.com.png" class="logo-card">
 <label>Card number:</label>
 <input id="user" type="text" class="input cardnumber"  placeholder="1234 5678 9101 1121">
 <label>Name:</label>
 <input class="input name"  placeholder="Name">
 <label class="toleft">CCV:</label>
 <input class="input toleft ccv" placeholder="321">
  </div>
  <div class="receipt">
    <div class="col"><p>Total price:</p>
    <h2 class="cost"><%= number_to_currency(@current_cart.total) %></h2><br>
    </div>
    <div class="col">
      <p>Bought Items:</p>
      <% @current_cart.line_items.each do |line_item| %>
        <% if line_item.item %>
          <%= cl_image_tag(line_item.item.image, :class => 'icon')  %>
          <br>
           <%= link_to line_item.item.name, item_path(line_item.item_id) %>
          <br>
        <% end %>
      <% end %>
    </div>
    <p class="comprobe">This information will be sent to your email</p>
  </div>
