<% if @current_user.present? %>
<h2>Hi <%= cl_image_tag(@current_user.image, :class => 'profile-icon-s') if @current_user.image.present? %> <%= @current_user.username %></h2>
<% end %>

<h3>sell or buy preloved clothing at fukuzatsu</h3>
<h5><em>because the world is complicated as it is without finding something new  to wear</em></h5>
<div class="pic-ctn">

    <a href="/items"><img src="/assets/7QjF0V8NOms-unsplash.jpg" width= '600px' alt="" class="pic"></a>
    <a href="/items"><img src="/assets/duy-hoang-ojZ4wJNUM5w-unsplash.jpg" width= '600px' alt="" class="pic"></a>
    <a href="/items"><img src="https://unsplash.com/photos/jlo7Bf4tUoY" width= '600px' alt="" class="pic"></a>
    <a href="/items"><img src="/assets/becca-mchaffie-Fzde_6ITjkw-unsplash.jpg" width= '600px' alt="" class="pic"></a>
    <a href="/items"><img src="/assets/tamara-bellis-uN1m9Ca0aqo-unsplash.jpg" width= '600px' alt="" class="pic"></a>

  </div>
