
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
body {
margin: 20px;
  font-family: 'Montserrat', sans-serif;
}

.logo {
 padding: 20px;
}

nav {
  float: right;
  text-align: right;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline
}

p{
  font-size: 14px;
  line-height: 0.5;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.5);
}

.thumb{
  height: 20em;
}

.feature{
  height: 30em;

}

.icon {
  height: 10em;
}

.flex {
  display: flex;
}

.description {
  width: 50%;
  flex: 1;
  padding: 12px;
}

.card{
  width: 25%;
  flex: 3;
  padding: 12px;
}


.description:last-of-type {
  box-shadow: 5px 5px 10px 4px rgba(36, 76, 66, 0.5);
}

.card{
  box-shadow: 5px 5px 10px 4px rgba(36, 76, 66, 0.5);
}

button {
  background-color: #4CAF50;
}
.items-icons {
  padding: 12px;
  display: inline;
  filter: blur(0.5px);
}
.items-icons:hover{
  filter: blur(0);

}

.profile-icon{
  height:100px;
  border: 0.5px solid #ccc;
  border-radius: 100px;
}
.profile-icon-s{
  height:50px;

  border: 0.5px solid #ccc;
  border-radius: 100px;
}
