<div class="footer">
  Copyright 2021
</div>

  <div id="instagram">
    <a href="https://www.instagram.com/roweena_l/"><img src="https://img.icons8.com/plasticine/2x/instagram.png" alt="instagram icon" width=40px height=40px></a>
    </div>
    <div id="twitter">
    <a href="https://twitter.com/home"><img src="https://img.icons8.com/plasticine/2x/twitter--v2.png" alt="twitter icon" width=40px height=40px></a>
  </div>
